---
- name: Copy docker compose
  ansible.builtin.copy:
    src: docker-compose-browser-use.yaml
    dest: /dev/shm/docker-compose-browser-use.yaml
  when: sbnb_browser_use_state == "present"

- name: Create and start browser-use web-ui
  community.docker.docker_compose_v2:
    project_src: /dev/shm
    files: docker-compose-browser-use.yaml
    state: "{{ sbnb_browser_use_state }}"

- name: Pull models
  community.docker.docker_compose_v2_exec:
    project_src: /dev/shm
    files: docker-compose-browser-use.yaml
    service: ollama
    command: /bin/bash -c "while ! ollama pull {{ sbnb_browser_use_model }};do echo Waiting ollama ...; sleep 1;done"
    chdir: /root
  when: sbnb_browser_use_state == "present"
