[Unit]
Description=sbnb
Wants=network-pre.target
Wants=dev-disk-by\x2dpartlabel-sbnb.device
After=tailscaled.service
After=dev-disk-by\x2dpartlabel-sbnb.device

[Service]
Type=oneshot
ExecStart=/usr/bin/boot-sbnb.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
