name: Build sbnb

on:
  push:
    branches:
      - main
      - dev
    paths-ignore:
      - '**/README*.md'
      - 'scripts/**'
      - 'containers/**'
      - 'images/**'
      - 'misc/**'
      - 'collections/**'
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - '**/README*.md'
      - 'scripts/**'
      - 'containers/**'
      - 'images/**'
      - 'misc/**'
      - 'collections/**'

jobs:
  build:

    runs-on: ubuntu-large

    steps:
    - uses: actions/checkout@v4

    - name: Output Run ID
      run: echo ${{ github.run_id }}
    - name: Output Run Number
      run: echo ${{ github.run_number }}
    - name: Output Run Attempt
      run: echo ${{ github.run_attempt }}
    - name: Generate build id
      run: echo "IMAGE_VERSION=$(date +%Y.%m.%d)-$GITHUB_RUN_NUMBER" >> $GITHUB_ENV

    - name: Install dependencies
      run: |
        # Need for /usr/lib/systemd/boot/efi/linuxx64.efi.stub, qemu-img
        sudo apt-get update
        sudo apt-get install -y systemd-boot-efi qemu-utils
    
    - name: git submodule init and update
      run: |
        git submodule init
        git submodule update

    - name: Configure GitHub token for wget
      run: |
        echo "machine github.com login x-access-token password ${{ secrets.GITHUB_TOKEN }}" >> ~/.netrc
        echo "machine codeload.github.com login x-access-token password ${{ secrets.GITHUB_TOKEN }}" >> ~/.netrc
        chmod 600 ~/.netrc
        
    - name: Buildroot CCache
      # Restoring and saving cache using a single action
      uses: actions/cache@v4
      with:
        path: ~/.buildroot-ccache
        key: buildroot-ccache-v2

    - name: Buildroot output cache
      # Restoring and saving cache using a single action
      uses: actions/cache@v4
      with:
        path: |
          buildroot/output/build
          buildroot/output/host
          buildroot/output/staging
          buildroot/output/target
        key: buildroot-output-v2

    - name: Configure
      run: |
        cd buildroot
        make BR2_EXTERNAL=.. sbnb_defconfig

    - name: Run make
      run: |
        cd buildroot
        make -j $(nproc)
    
    - name: Save sbnb images
      uses: actions/upload-artifact@v4
      with:
        name: sbnb-images-${{ env.IMAGE_VERSION }}
        path: |
          buildroot/output/images/sbnb.raw.zip
          buildroot/output/images/sbnb.vhd
          buildroot/output/images/sbnb.efi
